.DiaryList {
  margin-top: 25px;
  padding: 10px;
  background-color: rgba(105, 105, 105, 0.15);
  border-radius: 12px;
  min-height: calc(100vh - 380px);
}
.noDiary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  line-height: 50px;
  color: #ffffff80;
  text-align: center;
}
.diary {
  overflow: hidden;
  position: relative;
  min-height: 120px;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 12px;
  background: rgba(111, 106, 106, 0.5);
  /* background: rgba(255, 255, 255, 0.311); */
  /* border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  /* border: 2px solid #ffffff6b; */
  border-width: 2px 2px 1px 0.5px;
  border-style: solid;
  border-color: #ffffff6b;
  color: white;
}
.diary::after {
  content: '';
  width: 50%;
  height: 1px;
  position: absolute;
  border-radius: 50% 50% 0 0;
  box-shadow: 0px -30px 100px 15px #00000074;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

/* .diary::after {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 12px;
  position: absolute;
  background: url('C:\Users\nailh\Desktop\react_review_Project\diary\Cherry_Blossom-Korea.jpg');
  background-position: center right;
  filter: brightness(1.1);
  opacity: 0.3;
  top: 0;
  left: 0;
  z-index: -1;
} */

.diary .editDelete {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0 5px 5px;
  text-align: right;
}
.diary .editDelete span {
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
}
.diary .editDelete span:last-child {
  margin-right: 0;
}

.diary .diaryContent {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
.diary .diaryContent .editContent {
  display: flex;
  flex-direction: column;
  flex: 1 1 85%;
  width: 60%;
}
.diary .diaryContent .editContent button {
  width: 80px;
  align-self: flex-end;
}
.diary .diaryContent .titleContent {
  flex: 1 1 85%;
  width: 60%;
}
.diary .diaryContent .titleContent h3 {
  margin-bottom: 5px;
}
.diary .diaryContent .titleContent .content {
  width: 95%;
}
.diary .diaryContent .dateNweatherIcon {
  flex: 1 1 15%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.diary .diaryContent .dateNweatherIcon .date {
  text-align: center;
}

.diary .weatherIcon {
  content: '';
  background: url('../SeekPng.com_weather-icon-png_1330512.png');
  background-position: 3px 0px;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  filter: drop-shadow(0px 2px 3px #e8ff3d99);
}
