.EditDiary {
  margin-top: 25px;
  padding: 10px;
  background-color: rgba(105, 105, 105, 0.15);
  border-radius: 12px;
  min-height: calc(100vh - 380px);
  padding: 20px;
  position: relative;
  border-radius: 12px;
  background: rgba(111, 106, 106, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-width: 2px 2px 1px 0.5px;
  border-style: solid;
  border-color: #ffffff6b;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.EditDiary button:first-child {
  align-self: flex-start;
  border: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.EditDiary button:first-child:hover {
  text-shadow: 0 0 5px white;
}
.EditDiary label {
  align-self: flex-start;
  margin: 5px;
}

.EditDiary .title,
.EditDiary .date {
  font-size: 16px;
  font-weight: 700;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
}
.EditDiary textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  resize: none;
  height: 40%;
}
.EditDiary button:last-child {
  margin-top: 10px;
  /* font-size: 16px; */
  padding: 10px;
  font-weight: 700;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  box-shadow: 1px 1px 0px rgba(137, 137, 137, 0.4);
  cursor: pointer;
}
