.DetailDiary {
  margin-top: 25px;
  padding: 10px;
  background-color: rgba(105, 105, 105, 0.15);
  border-radius: 12px;
  min-height: calc(100vh - 380px);
  padding: 20px;
  position: relative;
  border-radius: 12px;
  background: rgba(111, 106, 106, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-width: 2px 2px 1px 0.5px;
  border-style: solid;
  border-color: #ffffff6b;
  color: white;
}
.DetailDiary .btns {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;
  align-items: center;
}
.DetailDiary .btns button {
  display: flex;
  border: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.DetailDiary .btns button:hover {
  text-shadow: 0 0 5px white;
}
.DetailDiary .btns button:first-child {
  /* font-size: 16px; */
  padding: 0;
}
.DetailDiary .btns .editNDelete {
  position: absolute;
  right: 0px;
  bottom: -65px;
  background-color: rgba(94, 94, 94, 0.6);
  backdrop-filter: blur(10px);
  display: none;
  z-index: 2;
}
.DetailDiary .btns .editNDelete li {
  cursor: pointer;
  padding: 5px 10px;
}
.DetailDiary .btns .editNDelete li:hover {
  text-shadow: 0 0 5px white;
}
.DetailDiary .btns .editNDelete li:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.DetailDiary .title {
  margin: 15px 5px 5px;
  font-size: 18px;
  font-weight: 700;
}
.DetailDiary .date {
  margin: 10px;
}
.DetailDiary .content {
  margin: 10px 5px 10px 10px;
  white-space: pre-wrap;
}
